<% if(user && user.role == 2){ %>
  <div class="container text-center mt-5">
    <h1 class="display-4">Welcome to Your Shop, <%= user.name %>!</h1>
    <p class="lead">Start showcasing and selling your unique creations.</p>
    <a href="/shop/index/<%=user._id %>" class="btn btn-primary btn-lg">Go to Your Shop</a>
  </div>
<% }else{ %>

<main class="container mt-5">
  <!-- Welcome Section -->
  <div class="row justify-content-center text-center">
    <div class="col-md-10">
      <h1>Welcome to Artisan Marketplace</h1>
      <p class="lead">Discover and support local artisans showcasing their unique creations.</p>
      <p>Explore our diverse collection of handmade art, crafted with passion and creativity by talented artisans in our community. From paintings and sculptures to handmade crafts, there's something special for everyone.</p>
      <a href="/product/list" class="btn btn-primary">Explore the Marketplace</a>
    </div>
  </div>

  <!-- Featured Products Section -->
  <hr class="my-5">
<h2 class="text-center mb-4">Featured Products</h2>
<div class="row">
  <% randomProducts.forEach(product => { %>
    <div class="col-md-4">
      <div class="card">
        <img src="/uploads/<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description %></p>
          <a href="/product/detail?id=<%= product._id %>" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  <% }); %>
</div>

  <!-- About Us Section -->
  <hr class="my-5">
  <h2 class="text-center mb-4">About Artisan</h2>
  <p class="text-center">At Artisan, we believe in the power of local creativity. Our platform connects you with talented artisans in your community, making it easy for you to discover and bring home unique, handmade pieces.</p>
  <p class="text-center">Every purchase supports local artists and contributes to the vibrant arts scene in our community. Join us in celebrating the richness of local craftsmanship.</p>

  <!-- Get Involved Section -->
  <% if(!user){ %>
  <hr class="my-5">
  <h2 class="text-center mb-4">Get Involved</h2>
  <p class="text-center">Become a part of our community and support local artisans. Whether you're an artist looking to showcase your work or a buyer eager to explore unique creations, Artisan welcomes you.</p>
  <div class="text-center">
    <a href="/auth/google" class="btn btn-primary">Join Us</a>
  </div>
  <% } %>
</main>
<% } %>
