<form class="row g-3 mx-3" action="/user/profile/create" method="post" enctype="multipart/form-data">
  <div class="col-md-12 text-center mt-5">
    <h1>profile</h1>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Upload your avatar here</label>
    <input class="form-control" type="file" id="formFile" name="avatar"  value="<%= userInfo.avatar %>"/>
  </div>
  <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-10 col-md-6">
    <input
      type="text"
      readonly
      class="form-control-plaintext"
      id="staticEmail"
      value="<%=userInfo.email%>"
    />
  </div>


  <div class="col-md-6">
    <label for="inputusername4" class="form-label">username</label>
    <input
      type="text"
      class="form-control"
      id="inputusername4"
      name="username"
      value="<%= userInfo.username %>"
    />
  </div>
  
  <div class="col-md-6">
    <label for="name4" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name4"
      name="name"
      value="<%=userInfo.name%>"
    />
  </div>

  <!-- <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="password" >
  </div>
   -->
  <div class="col-md-6">
    <label for="inputdate4" class="form-label">Date of Birth</label>
    <input type="date" class="form-control" id="inputdate4" name="DOB" value="<%= userInfo.dobFormatted %>"/>
  </div>

  <div class="col-md-6">
    <label for="inputdate4" class="form-label">Phone number</label>
    <input
      type="text"
      class="form-control"
      id="inputdate4"
      name="phoneNumber"
      value="<%= userInfo.phoneNumber %>"
    />
  </div>

  <fieldset class="row mb-3 mt-3">
    <legend class="col-form-label col-sm-2 pt-0">Roles</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="role"
          id="gridRadios1"
          value="1"
          <% if(userInfo.role == 1) { %>
            checked="true"
          <% }else{ %>
            checked="false"
          <% } %>
        />
        <label class="form-check-label" for="gridRadios1"> User (Buyer) </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="role"
          id="gridRadios2"
          value="2"
          <% if(userInfo.role == 2) { %>
            checked="true"
          <% }else{ %>
            checked="false"
          <% } %>
        />
        <label class="form-check-label" for="gridRadios2"> Seller </label>
      </div>
    </div>
  </fieldset>

  <div class="col-12 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
