<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/img/<%=product.image%>" alt="..." /></div>
            
            
  
                <h1 class="display-5 fw-bolder"><%= product.name %></h1>
                <div class="fs-5 mb-5">
                  <%= product.price%> <span> BHD</span>
              </div>
                <p class="lead"><%=product.description%></p>
                    <a href="/product/edit?id=<%= product._id %>">
                        Edit Product
                    </a>
                
        
        </div>
    </div>
  </section>
  