<div>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% products.forEach(function(product) { %>
          <div class="col">
            <a href="/product/detail?id=<%= product._id %>">
              <div class="card shadow-sm">
                <img style="width: 100%; height: 400px; object-fit:cover;" src="/uploads/<%= product.image %>" alt="<%= product.productName %> Image">
                <div class="card-body">
                  <h1 class="card-title"><%= product.productName %></h1>
                  <p class="card-text"><%= product.description %></p>
                  
                </div>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
