<div>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% products.forEach(function(product) { %>
          <div class="col">
            <a href="/product/detail?id=<%= product._id %>">
              <div class="card shadow-sm">
                <img style="width: 100%;" src="/uploads/<%= product.image %>" alt="<%= product.productName %> Image">
                <div class="card-body">
                  <h1 class="card-title"><%= product.productName %></h1>
                  <p class="card-text"><%= product.description %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a href="/cart/add?id=<%= product._id %>" class="btn btn-sm btn-outline-secondary" type="submit">
                      <i class="bi-cart-fill me-1"></i>
                      Add to cart
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
