<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

​  
<div>
  <!-- <h5>Product</h5> -->
  <div class="album py-5 bg-body-tertiary">
      <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       
            
      
                    <% products.forEach(function(product){%>
              <div class="col">
                <a href="/product/detail?id=<%= product._id %>">
                  <div class="card shadow-sm">
                    <img style="width: 100%;" src="/uploads/<%= product.image %>">
                  <div class="card-body">
                    <h1><%=product.productName%></h1>
                    <p class="card-text"><%=product.description%></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href ="/product/edit?id=<%=product._id%>&shopid=<%=shop._id%>" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="/product/delete?id=<%=product._id%>&shopid=<%=shop._id%>" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                  </a>
                  <%})%> 
              </div>

</div>
</div>
</div>
</div>











<a href="/cart/add?id=<%=product._id%>" class="btn btn-sm btn-outline-secondary" type="submit">
  <i class="bi-cart-fill me-1"></i>
  Add to cart
</a>