
<main>
  <a href="/product/add?shopid=<%=shop.id%>" type="button" class="btn btn-sm btn-outline-secondary">Add product</a>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="/uploads/<%= shop.logo %>" alt="Shop Logo">
        <h1><%= shop.name %></h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- From here we should add the forEach -->
        
        <div class="col">
          <% products.forEach(function(product){%>
         <a href="/product/detail?id=<%= product._id %>">
            <div class="card shadow-sm">
            
            
              <img style="width: 100%;" src="/uploads/<%= product.image %>">
            <div class="card-body">
              <h1><%=product.productName%></h1>
              <p class="card-text"><%=product.description%></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href ="/product/edit?=<%=product._id%>" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                  <a href="/product/delete?=<%=product._id%>" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
            </a>
            <%})%> 
          </div>
        </div>
      </div> 
    </div> 
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
